<div class="mainContent">
<h2 class="title">{{restaurant.name}}</h2>
<img mat-card-image
class="content2" 
src="{{restaurant.image_url}}" 
alt="Photo of a Shiba Inu">

<div class="content2">
    <h3>Restaurant Information</h3>
    <p>Country: {{restaurant.country}}</p>
    <p>State: {{restaurant.state}}</p>
    <p>City: {{restaurant.city}}</p>
    <p>{{restaurant.area}}</p>
    <p>Postal code: {{restaurant.postal_code}}</p>
    <p>Phone: {{restaurant.phone}}</p>        
</div>

 <div class="content1">
  <b> <p>Reservate</p> </b>         

    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    
    <div>
    <input type="time" name="" id="">
    <mat-icon style="vertical-align: middle; margin-left: 3px;">schedule</mat-icon>
    </div>   
    <div style="margin-left: auto; margin-right: auto;" class="alingContent">
        <mat-icon style="float: left;">star</mat-icon>
        <div style="float: right; margin-top: 4px;">{{restaurant.price}}</div>
      </div> 
      <button  mat-raised-button (click)="Reserve()"  
      style="margin-left: auto; margin-right: auto; margin: 10px;">Reservar</button><br/> 
</div>



