.mainContent{
  width: auto;
  padding: 1%;
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title{
  text-align: center;
}
.alingContent{
    justify-content: center;
    align-items: center;
    width: 40px;
  }
  .image{
    margin: 0px;
    width: 220px;
    height: 220px;
    display: inline-block;
    
  }
  .content1{
    vertical-align: middle;
    display: inline-block;
    margin: 1%;
    width: 220px;
    height: 220px;
    
  }
  .content2{   
    vertical-align: middle;
    margin: 1%;
    width: 220px;
    height: 220px;
    display: inline-block;
  }
  .Bold{
    font: bold;
  }
  