<h1 class="title">All restaurants than you imagine</h1>
<div class="main-container">
<div class="card-container" *ngFor="let item of restaurants; index as restaurantId">
<a (click)="openDetail()">
  <mat-card class="card">
    <mat-card-header class="head">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.area}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
    class="image" 
    src="{{item.image_url}}" 
    alt="Photo of a Shiba Inu">
    <mat-card-content class="body">
      <p>
        State: {{item.state}}
      </p>
      <p>
        Address: {{item.address}}
      </p>
    </mat-card-content>
    <mat-card-actions class="foot">
      <div class="alingContent">
        <mat-icon class="toleft">star</mat-icon>
        <div class="toleft iconAling">{{item.price}}</div>
      </div>      
     
    </mat-card-actions>
  </mat-card>
</a>
</div>
</div>
<div style="clear:both;"></div>
