
  .main-container{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .card-container{
    display: inline-block;
  }
  .card {
    max-width: 200px;
    min-width: 200px;
    margin: 10px;
    float: left;
    text-align: center;
  }
  .head{
    height: 100px;
  }
  .body{
    height: 40px;
  }
  .foot{
    height: 40px;
  }
  .image{
    height: 190px;
  }

  .title {
      font-family: Roboto;
      text-align: center;
      color: black;
  }

  .toleft{
    float: left;
  }

  .spacer{
    width: fit-content;
    height: fit-content;
  }

.torigth{
  float: right;
}   

.alingContent{
  justify-content: center;
  align-items: center;
}

.iconAling{
  margin-top: 4px;
}