.main-container{
    float: inline-start;
    position: -webkit-sticky;
    
}
.card {
    max-width: 250px;
    margin: 20px;
    float: left;
  }

  .title {
      font-family: Roboto;
      text-align: center;
      color: black;
  }
  
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: initial;
  }
  .main-container{
    padding: 20px;
  }